version: '3'
services:
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    # Forzamos plataforma linux/arm64 por si acaso, aunque community suele ser multi-arch
    platform: linux/arm64
    ports:
      - "9000:9000"
    networks:
      - devsecops-net
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions

volumes:
  sonarqube_data:
  sonarqube_extensions:

networks:
  devsecops-net:
    external: true
